@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron" style="background-image: url('/Img/Magazzino.jpg');">
    <h1 style="color:black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">MANAGEMENT</h1>
    <p class="lead" style="color:black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Il magazzino più grande d'Italia</p>

    @{if (Session["ID"] == null) //se dipendente non loggato, mostro il tasto login
        {
<div class="btn btn-primary btn-lg">
    @Html.ActionLink("Login", "Login", "Utente", null, new { @style = "color: white" })
</div> }
            else if (Session["ID"] != null) //se dipendente loggato, mostro il tasto logout
            {
<div class="btn btn-primary btn-lg">
    @Html.ActionLink("Logout", "Logout", "Utente", null, new { @style = "color: white" })
</div> } }
</div>